# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/angular_front/dist
/angular_front/tmp
/angular_front/out-tsc
# Only exists if Bazel was run
/angular_front/bazel-out

# dependencies
/angular_front/node_modules
/node_backend/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/angular_front/.sass-cache
/angular_front/connect.lock
/angular_front/coverage
/angular_front/libpeerconnection.log
/angular_front/npm-debug.log
/angular_front/yarn-error.log
/angular_front/testem.log
/angular_front/typings

# System Files
/angular_front/.DS_Store
/angular_front/Thumbs.db
